@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-dark: hsl(230, 35%, 7%);
  --clr-light: hsl(0, 0%, 100%);
  --clr-primary: hsl(231, 77%, 90%);
}

*:focus-visible {
  outline: none;
}

body {
  position: relative;
  color: var(--clr-light);
  background-color: var(--clr-dark);
  font-family: "Barlow Condensed", sans-serif;
  min-height: 100vh;
  min-height: 100svh;
}

button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  line-height: inherit;
}

.background-img {
  position: absolute;
  inset: 0;
  z-index: -999;

  background-image: var(--bg-image-mobile);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.font-bellefair {
  font-family: "Bellefair", sans-serif;
}

.font-barlow {
  font-family: "Barlow", sans-serif;
}

.explore_btn {
  transition: all 300ms;
}

.explore_btn:hover,
.explore_btn:focus-visible {
  box-shadow: 0 0 0 44px hsl(0, 0%, 59%, 40%);
}

.destination_options > span {
  cursor: pointer;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid transparent;
}

.destination_options > span:hover,
.destination_options > span:focus-visible {
  border-bottom: 3px solid #979797;
}

.destination_options .active_destination {
  border-bottom: 3px solid white !important;
}

.logo:focus-visible {
  outline: auto;
  outline-offset: 0.25rem;
}

[data-menu-open-btn]:focus-visible,
[data-menu-close-btn]:focus-visible {
  outline: auto;
  outline-offset: 0.25rem;
}

.technology_options span {
  border: 1px solid #979797;
}

.technology_options span:hover,
.technology_options span:focus-visible {
  border: 1px solid white;
}

.technology_options .active_technology {
  background-color: white;
  color: var(--clr-dark);
}

.crew_options span {
  background-color: #464950;
}

.crew_options span:hover,
.crew_options span:focus-visible {
  background-color: #85868b;
}

.crew_options .active_crew {
  background-color: white !important;
}

/* Only mobile */
@media only screen and (max-width: 767px) {
  .nav-active {
    border-right: 3px solid white;
  }

  .nav-item:hover,
  .nav-item:focus-visible {
    border-right: 3px solid #979797;
  }
}

/* Tablet and above */
@media only screen and (min-width: 768px) {
  .nav-item:hover,
  .nav-item:focus-visible {
    padding-bottom: 2.24rem;
    border-bottom: 3px solid #979797;
  }

  .nav-active {
    padding-bottom: 2.24rem;
    border-bottom: 3px solid white;
  }

  .explore_btn:hover,
  .explore_btn:focus-visible {
    box-shadow: 0 0 0 66px hsl(0, 0%, 59%, 40%);
  }

  .destination_options > span {
    padding-bottom: 0.75rem;
  }
}

/* Only Tablet */
@media only screen and (max-width: 1439px) and (min-width: 768px) {
  .background-img {
    background-image: var(--bg-image-tablet);
  }

  li a::before {
    display: none;
  }
}

/* Desktops */
@media only screen and (min-width: 1440px) {
  .background-img {
    background-image: var(--bg-image-desktop);
  }

  .explore_btn:hover,
  .explore_btn:focus-visible {
    box-shadow: 0 0 0 88px hsl(0, 0%, 59%, 40%);
  }
}
